---
import Section from "../Section.astro";
import { education } from "@cv";
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, url, area, startDate, endDate, }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startDate} - ${endDate}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                  <h4>{area}</h4>
                  <a
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Certificado
                  </a>
                </div>
                <time>{years}</time>
              </header>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    }
    
    a{
      color: #555;
    font-size: 0.85rem;

  }
</style>
